
<section class="mt-3">
    <div class="container p-4 bg-secondary-subtle rounded">
        <h3>Welcome to our movie app</h3>
        <p>Millions of movies, TV shows and people to discover. Explore now.</p>
        <div class="input-group mb-3 ">
            <input type="text" class="form-control me-3 rounded" placeholder="Search and explore...."
                aria-label="Search" aria-describedby="button-addon2">
            <button class=" button_Primary btn  btn-outline-secondary rounded" type="button" id="button-addon2">Search</button>
        </div>
    </div>
</section>
